# Configuration enviroments

    # GRPC
        GRPC_PORT=
        GRPC_TIMEOUT=
    
    # Postgres
        POSTGRES_MAX_CONNS=
        POSTGRES_MIN_CONNS=
        POSTGRES_HEALTHCHECK_PERIOD=

    # Redis
        REDIS_ADDR=
    
    #Logger
        LOGGER_LEVEL=
        LOGGER_DIR=

# Postgres env
    POSTGRES_USER=
    POSTGRES_PASSWORD=
    POSTGRES_DB=

# Path for postgres docker volumes
    PROJECT_ROOT=

# Goose migrations
    GOOSE_DRIVER=
    GOOSE_DBSTRING=
    GOOSE_MIGRATION_DIR=

# Postgres connection pool init
    POSTGRES_URL=